@page
@model _4nitureDesigns.Pages.Admin.Product.UpsertModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="Products.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
       <div class="col-9"> 
            <h2 class="text-primary pl-3">
                @*To check if the product is to be updated or created*@
               @(Model.Products.Id !=0 ? "Update" : "Create") Product
                </h2>
            <hr/>
         
         
         <div class="mb-3">
             <label asp-for="Products.Name"></label>
             <input maxlength="20" asp-for="@Model.Products.Name" class="form-control"/>
             <span asp-validation-for="Products.Name" class="text-danger"></span>
         </div>

         <div class="mb-3">
             <label asp-for="Products.Description"></label>
             <textarea maxlength="50" asp-for="@Model.Products.Description" class="form-control"></textarea>
             <span asp-validation-for="Products.Description" class="text-danger"></span>
         </div>

         <div class="mb-3">
             <label asp-for="Products.Price"></label>
             <input asp-for="@Model.Products.Price" class="form-control"/>
             <span asp-validation-for="Products.Price" class="text-danger"></span>
         </div>

         <div class="mb-3">
             <label asp-for="Products.Image"></label>
             <input type="file" name="files" id="uploadBox" class="form-control"/>   @*Uploading Image from File*@
         </div>

         <div class="mb-3">
             <label asp-for="Products.CategoryId"></label>
             <select asp-for="Products.CategoryId" asp-items="Model.CategoryList" class="form-select">
                 <option disabled selected>Select Category</option>
             </select>
             <span asp-validation-for="Products.CategoryId" class="text-danger"></span>
         </div>

         <div class="mb-3">
             <label asp-for="Products.FurnitureTypeId"></label>
             <select asp-for="Products.FurnitureTypeId" asp-items="Model.FurnitureTypeList" class="form-select">
                 <option disabled selected>Select Furniture Type</option>
             </select>
             <span asp-validation-for="Products.FurnitureTypeId" class="text-danger"></span>
         </div>
        </div>

        <div class="col-3">
                @if(Model.Products.Id != 0)
                {
                    <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9"/>
                }
        </div>
         </div>

        @* Logic that controls when it is to be updated or deleted*@

        @if (Model.Products.Id != 0)
        {
         <button type="submit" class="btn btn-primary" style="width:100px; ">Update</button>   
        }
        else{
            <button type="submit" onclick="return ValidateInput()"  class="btn btn-primary" style="width:100px; ">Create</button>
        }
        
         <a asp-page="Index" class="btn btn-secondary" style="width:100px;">Back</a>
         
    </div>

</form>

@section Scripts{
  
 
  @{
        <partial name="_ValidationScriptsPartial"/>
    }

}

